:root {
    --key-color: rgb(45, 173, 180);
    --main-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 100%);
    --secondary-color-80percent: hsla(0, 0%, 100%, 0.8);
    --main-font: 'Montserrat', sans-serif;
    --font-size-title: clamp(2rem, 6vw, 3rem);
    --font-size-title-secondary: clamp(1.4rem, 5vw, 2.6rem);
    --font-size-title-product: 1.5rem;
    --font-size-main: 1rem;
    --font-size-main-medium: 1.2rem;
    --font-size-main-large: clamp(1rem, 3vw, 1.3rem);  
    --font-size-product: clamp(1rem, 4vw, 1.3rem);
    /*clamp font sizes here*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img, svg, picture, video {
    display: block;
    max-width: 100%;
}

a {
    font-size: var(--font-size-main);
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

a:hover {
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid var(--secondary-color);
}

P {
    font-size: var(--font-size-main);
    color: var(--main-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
}

.outer-box {
    width: min(85%, 120rem);
    margin: auto;
    /* overflow: hidden; */
    /*SWITCH OVERFLOW BACK ON*/
}

.padding-left {
    padding-left: 9%;
}

.padding-left-right {
    padding-left: 9%;
    padding-right: 9%;
}

.padding-bottom {
    padding-bottom: 3rem;
}

.white-bg {
    background-color: var(--secondary-color);
}

.bg-image-outer {
    position: fixed;
    background-color: var(--secondary-color);
    inset: 0 0 0 0;
    overflow: hidden;
    z-index: -1;
}

.bg-image {
    object-position: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.logo-small {
    height: 1.5rem;
    cursor: pointer;
}

.home-image {
    height: 200px;
}

.small-img {
    height: 200px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.flex-alignment {
    align-items: center;
    justify-content: center;
}

.position-absolute {
    position: absolute;
    top: 0;
}

.position-relative {
    position: relative;
}

.z-index-top {
    z-index: 50;
}

.overflow-hidden {
    overflow: hidden;
}


/*Nav*/
nav {
    height: 6rem;
    z-index: 999;
}

.nav-bar {
    list-style: none;
}

.width-100 {
    width: 100%;
}

.nav-flex-gap {
    gap: clamp(1rem, 4vw, 2.5rem);
}

.flex-alignment-spacebetween {
    align-items: center;
    justify-content: space-between;
}

.flex-alignment-start {
    align-items: center;
    justify-content: start;
}

.flex-alignment-end {
    align-items: center;
    justify-content: end;
}

/*input label here, also fix font + the x in search bar*/

input[type=search] {
    width: clamp(10rem, 20vw, 30rem);
    background-color: var(--secondary-color-80percent);
    background-image: url(icon_img/icon-search-black.png);
    background-position: 0.7rem center;
    background-repeat: no-repeat;
    padding: 0.7rem 0.7rem 0.7rem 2.5rem;
    border: transparent;
    outline: none;
}

input[type=search]:focus {
    background-color: var(--secondary-color);
    box-shadow: none;
    border: transparent;
    outline: none;
}

.icon-account:hover {
    margin-top: 8px;
}

.icon-account-properties {
    display: block;
}

.shop-block {
    cursor: pointer;
}

.icon-cart {
    position: relative;
}

.icon-cart:after {
    content: "2";
    text-align: center;
    position: absolute;
    display: inline-block;
    top: -0.5rem;
    left: 1rem;
    /* height: 1rem;
    width: 1rem; */
    border-left: 5px solid var(--key-color);
    border-right: 5px solid var(--key-color);
    /* border-top: 5px solid var(--key-color);
    border-bottom: 5px solid var(--key-color); */
    border-radius: 30rem;
    background-color: var(--key-color);
    color: var(--secondary-color);
    font-size: var(--font-size-main);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
}

/*Home*/
.grid-homepage {    
    height: 100vh;
    /* height: 100dvh; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-areas:
        "image-section-top" "image-section-top" "image-section-top"
        "title" "title" "image-section-middle"
        "image-section-bottom" "image-section-bottom" "image-section-bottom" ; */
}

.grid-title-home {
    /* align-self: center; */
    margin: 0;
    grid-area: 2 / 1 / span 1 / span 3;
    z-index: 10;
}

.title-main {
    /* display: inline-block; */
    margin-top: 5rem;
}

.title-main > h1, .title-main > h2 {
    font-size: var(--font-size-title);
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 800;
    margin-bottom: 1rem;
}

.highlight-black-curve {
    background-color: var(--main-color);
    border-radius: 3.5rem 0 0 0;
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;
}

.button-shop {
    font-size: var(--font-size-main-medium);
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    border: transparent;
    background-color: var(--key-color);
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.button-shop:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.grid-image-home {
    margin: 0;
    grid-area: 1 / 1 / span 3 / span 3;
    z-index: 1;
}

.grid-overlay-dark {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    margin: 0;
    grid-area: 1 / 1 / span 3 / span 3;
    opacity: 0.3;
    z-index: 5;
}

.home-img {   
    overflow: hidden;
    opacity: 1;
}

.home-img-properties {    
    height: 130%;
    width: 150%;
    object-fit: cover;
}


/*Products*/
.title-product {
    font-size: var(--font-size-title-product);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

.product-box {
    /* width: 100%; */
    overflow: hidden;
    /* background-color: rgba(128, 128, 128, 0.185);  */
    /*BG clr TBR*/
}

.grid-product-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
}

.grid-product {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    /*was 2.5rem and 2rem, max-content note*/
    
    justify-items: center;
    cursor: pointer;
    padding: 0.5rem;    
    /* white-space: nowrap; */
    /* justify-content: center; */
    /* margin-right: 1rem; */
    /* border: 3px solid red; */
}
/*Flex try?*/

.grid-product:hover {
    transform: scale(1.05);
}

.grid-product > img {
    max-height: 200px;
}

/* .grid-product > img {
    /* place-self: center; */
    /*above property works
} */

.product-name, .highlight-price {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    /* text-align: left; */
    text-align: center;
}

.product-name {
    font-size: var(--font-size-product);
    color: var(--main-color);
    /* text-align: center; */
}

.highlight-price {
    padding-top: 0.5rem;
    font-size: var(--font-size-main);
    color: var(--key-color);
}

.carousel-arrow-left, .carousel-arrow-right {
    height: 0.7rem;
    width: 0.7rem;
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
}

.carousel-arrow-left {
    top: 50%;
    transform: translateX(-0.3rem) rotate(-225deg);
}

.carousel-arrow-left:hover {
    transform: translateX(-0.3rem) rotate(-225deg) scale(1.4);
}

.carousel-arrow-right {
    top: 50%;
    right: 0;
    transform: translateX(0.2rem) rotate(-45deg);
}

.carousel-arrow-right:hover {
    transform: translateX(0.2rem) rotate(-45deg) scale(1.4);
}

.button-box {
    gap: 0.6rem;
    margin-top: 3rem;
}

.button-dot {
    background-color: var(--main-color);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
}

.dot-screen-medium, .dot-screen-small {
    display: none;
}


/*Story*/
.story-block {
    display: grid;
    grid-template-columns: 40% 1fr;
    /* height: 40rem; */
    align-items: center;    
    padding-top: 4rem;
    padding-left: 9%;   
}

.story-text {
    display: inline-block;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.story-text > h3, .story-text > h4 {
    font-size: var(--font-size-title-secondary);
    color: var(--main-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 800;
    margin-bottom: 1rem;
}

.story-text-paragraph {
    font-size: var(--font-size-main-large);
    color: var(--main-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
}

.story-shapes-img {
    position: absolute;
    mix-blend-mode: overlay;
    /* object-position: bottom; */
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    opacity: 0.9;
    bottom: 0;
}

.story-img {
    height: 100%;
    border-radius: 100px 0 0 0;
    overflow: hidden;
}

.story-img-properties {
    width: 100%;
    height: 115%;
    object-fit: cover;
}

.highlight-blue-key {
    color: var(--secondary-color);
    background-color: var(--key-color);
    padding: 0.5rem 1.3rem 0.5rem 0.5rem;
}


/*Footer*/

footer {
    height: 3rem;
    /* background-color: var(--secondary-color); */
}



/*--Media Queries--*/

@media screen and (max-width: 90em){
    .outer-box {
        width: 100%;
        margin: 0;        
    }

    footer {
        height: 0rem;
    }
}

@media screen and (max-width: 72em){
    /*Nav*/
    .nav-bar {
        display: none;
    }

    /*Products*/
    .grid-product-carousel {        
        grid-auto-columns: 33.333%;
    }

    .dot-screen-medium {
        display: block;
    }
}

@media screen and (max-width: 46em){
    /*Products*/
    .grid-product-carousel {        
        grid-auto-columns: 50%;
    }

    .dot-screen-small {
        display: block;
    }

    /*Story*/
    .story-block {        
        grid-template-columns: 1fr;
        padding-left: 0;          
    } 

    .story-text {
        padding: 0 3rem 3rem 9%;
    }

    .story-img {
        border-radius: 0;
    }
}

/*Mobile narrow*/
@media screen and (max-width: 27em){
    /*Home*/
    .padding-left {
        padding-left: 0;
    }

    /*Products*/
    /* .grid-product {
        grid-template-rows: 1fr min-content min-content;
    } */
    
    /*Story*/
    .story-text {
        padding: 0 1.5rem 3rem 1.5rem;
    }   
    
    .story-text-paragraph {
        padding-top: 1rem;
    }
}


/*1300 = still okay, no break*/
/*icon shop shrinks down when resizing*/