:root {
    --key-color: hsl(183, 60%, 44%);
    --main-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bg-image {
    background-image: url(icon_img/kelly-repreza-CI4aWR9bY8c-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--secondary-color);
} */

.outer-box {
    width: min(80%, 120rem);
    margin: auto;
}

.bg-image-outer {
    position: fixed;
    background-color: var(--secondary-color);
    inset: 0 0 0 0;
    overflow: hidden;
    z-index: -1;
}

.bg-image {
    object-position: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

P {
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.logo-small {
    height: 2rem;
}

.home-image {
    height: 200px;
}

.small-img {
    height: 200px;
}

.flex-horizontal {
    display: flex;
    flex-direction: horizontal;
    list-style: none;
}


/*Nav*/

nav {
    height: 4rem;
    background-color:hsl(183, 60%, 44%);
}

.nav-bar {
    list-style: none;
}

/*Home*/


/*Products*/


/*Story*/